<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hostIP</key>
	<string>127.0.0.1</string>
	<key>hostPort</key>
	<integer>1337</integer>
	<key>reportErrorOverOSC</key>
	<true/>
	<key>differentServerForReporting</key>
	<false/>
	<key>errorIP</key>
	<string>127.0.0.1</string>
	<key>errorPort</key>
	<integer>1337</integer>
</dict>
</plist>
